{% extends 'base.html.twig' %}

{% block title %}
    {{ todoList.title }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div id="todoList" tasks-url="{{ tasksUrl }}" add-url="{{ addUrl }}">
            <h1 class="text-center">{{ todoList.title }}</h1>

            <hr>

            {% verbatim %}
            <div class="tasks">
                <ul class="list-unstyled">
                <li class="ui-state-default" v-for="task in tasks">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" :checked="task.is_complete" v-on:change="updateTask(task, $event)">
                                {{ task.description }}
                            </label>
                        </div>
                    </li>
                </ul>
            </div>

            <hr>

            <div class="new-task input-group">
                <input type="text" class="form-control" v-model="description" placeholder="Enter a description">

                <span class="input-group-btn">
                    <input type="button" class="btn btn-primary" value="Add task" v-on:click="addTask">
                </span>
            </div>

            <hr>

            <div class="stats row" v-if="this.tasks.length > 0">
                <div class="col-md-6">
                  <span v-if="this.todoTasks == 0">
                    All tasks completed!
                  </span>
                  <span v-if="this.todoTasks > 0">
                    {{ this.todoTasks }} {{ this.todoTasks > 1 ? 'tasks' : 'task' }} remaining
                  </span>
                </div>
                <div class="col-md-6">
                    <a href="/" class="pull-right">Create a new to do list</a>
                </div>
            </div>
            {% endverbatim %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="/js/todo.js"></script>
{% endblock %}